<div class="entete" [style.background-color]="couleurFondPrefereeLocale">
  
        <bsu-nav-bar [brandTitle]="titre"
        [currentUserRoles]="'admin'"
        [menuDefs]="myMenuDefs"></bsu-nav-bar>
   
     <!--
    header - {{titre}}
    <a routerLink='/ngr-welcome'> welcome</a> &nbsp;
    <a routerLink='/ngr-basic'> basic</a> &nbsp;
    <a routerLink='/ngr-conversion'> conversion</a> &nbsp;
    <a routerLink='/ngr-login'> login</a> &nbsp;
    <a routerLink='/ngr-admin-devise'> admin-devise</a> &nbsp;
     -->
</div>
